@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    background-color: #864040;

    &__burger {
        cursor: pointer;
        padding: 0;
        border: none;
        background-color: transparent;
        margin-right: auto;
    }

    &__burger.--darkmode {
        path {
            fill: #F9AE40;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        &-link {
            grid-column: 2;
        }
    }
}

.header.--darkmode {
    background-color: #26284E;
}

.main {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.darkmode__mask.--darkmode {
    background-color: rgba(0, 0, 0, .8);
    color: #DEAA1E;

    a,
    h3 {
        color: #DEAA1E;
    }
}

.darkmode__btn {
    cursor: pointer;
    width: 50px;
    height: 60px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;

    &-img {
        width: inherit;
        height: inherit;
    }
}

.darkmode__btn.--active {
    .darkmode__btn-img {
        path {
            fill: #F9AE40;
        }
    }
}

.section__title {
    color: #864040;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation {
    padding-top: 120px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-link {
            display: flex;
            align-items: center;
            gap: 20px;
            color: #864040;
            font-size: 64px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.navigation.--navigation-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #D1D1D1;
    z-index: 5;
    margin: 40px 20px;
    padding: 60px 0;
    transform: translateY(-1000%);
    transition: transform .7s ease;
}

.navigation.--navigation-menu.--visible {
    transform: translateY(0);
}

.navigation.--navigation-menu.--darkmode {
    background-color: #414040;
}

.navigation__list-link__img.--darkmode {
    path {
        fill: #D1D1D1;
    }
}

.info {
    padding: 120px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__time {
        display: flex;
        flex-direction: column;
        max-width: 440px;

        &-vidget {
            margin: auto 0;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__wheather {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.map {
    display: flex;
    justify-content: center;
    padding-top: 120px;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 1200px;
        min-height: 600px;
        gap: 10px;
    }

    &__compas {
        width: 120px;
        margin-left: auto;
    }

    &__map {
        width: 100%;
        height: 580px;
    }
}

.table {
    padding-top: 60px;

    &__table {
        margin: 0 auto;
    }

    thead {
        tr {
            th {
                cursor: pointer;
            }

            th:last-child {
                cursor: auto;
            }

            th:nth-child(1) {
                min-width: 70px;
            }

            th:nth-child(3) {
                min-width: 200px;
            }
        }
    }

    tbody {
        max-height: 600px;
        overflow-y: scroll;

        tr {
            td:nth-child(1) {
                min-width: 70px;
            }

            td:nth-child(3) {
                max-width: 420px;
            }
        }
    }

    th,
    td {
        border: 3px solid #864040;
    }

    &__inner {
        display: flex;
        align-items: start;
        overflow-y: scroll;
        max-height: 470px;
    }

    .table__info {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .table__info .table__info-text {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        font-size: 18px;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 15%;
        right: 115%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .table__info .table__info-text::after {
        content: "";
        position: absolute;
        top: 15%;
        right: -9px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #555;
    }

    .table__info:hover .table__info-text {
        visibility: visible;
        opacity: 1;
    }

    .search__input {
        padding: 5px;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}

.table.--darkmode {

    th,
    td {
        border-color: #26284E;
    }

    .table__info {
        &-icon {
            path {
                fill: #F9AE40;
            }
        }
    }
}

.calc {
    padding-top: 60px;

    &__table {
        margin: 0 auto;
    }

    &__body {

        input {
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            background-color: transparent;
            padding: 10px;
        }

        tr:nth-child(1),
        tr:nth-child(2),
        tr:nth-child(3),
        tr:nth-child(4),
        tr:nth-child(5) {

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(4) {
                text-align: center;
            }

            td:nth-child(2) {
                min-width: 340px;
            }
        }

        tr:nth-child(7),
        tr:nth-child(8),
        tr:nth-child(9),
        tr:nth-child(10),
        tr:nth-child(11),
        tr:nth-child(12) {
            td:nth-child(2) {
                text-align: center;
            }
        }
    }

    th,
    td {
        border: 3px solid #864040;
    }

    .time__on-inner {
        display: flex;
        align-items: center;
        padding: 5px;

        select {
            border: none;
        }
    }

    .calculator__btn {
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 90px;
        border: none;
        background-color: transparent;
    }
}

.calc.--darkmode {

    .calculator__btn {
        color: #DEAA1E;
    }

    input {
        color: #DEAA1E;
    }

    input::placeholder {
        color: #D1D1D1;
    }

    th,
    td {
        border-color: #26284E;
    }
}

.usePolicy {
    padding: 40px 0;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        max-height: 400px;
        overflow-y: scroll;

        h4 {
            padding: 20px 0;
        }
    }
}

.footer {
    background-color: #864040;

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: auto;

        &-title {
            color: #D1D1D1;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer.--darkmode {
    background-color: #26284E;
}

.ymaps-2-1-79-map .ymaps-2-1-79-i-ua_js_yes .ymaps-2-1-79-map-bg .ymaps-2-1-79-islets_map-lang-ru {
    min-height: 460px;
}

@import 'media';